# .gitignore

# Python
*.pyc
__pycache__/
*.pyo

# Odoo
*.log
*.db
*.sql
*.sqlite3
*.zip
*.egg-info/
*.pot
.DS_Store
.idea/
.env
.env.*
*.swp

# Node / React
node_modules/
build/
.env.local
.env.development
.env.production

# VSCode
.vscode/

# React dev server cache
.cache/
dist/
npm-debug.log*

# System files
Thumbs.db
*.bak
